<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title><%=title %></title>
 </head>
 <body>
     <form action="/check" method="post">
        <input type="text" name="userName" />
        <input type="submit" value="Проверить"/>
    </form>
 </body>
</html>